project:
  output-dir: docs
  type: site
  
website:
  title: sparklyr
  site-url: https://spark.rstudio.com
  page-navigation: true
  reader-mode: true  
  favicon: "images/favicon/apple-touch-icon.png"
  navbar:
    search: true
    background: light
    collapse-below: lg
    type: light
    logo: "images/favicon/apple-touch-icon.png"
    left: 
      - text: Get Started
        href: get-started/index.qmd
      - text: Guides
        href: guides/index.qmd
      - text: Databricks
        href: deployment/databricks-connect.qmd
      - text: Deployment
        href: deployment/index.qmd
      - text: News
        href: packages/sparklyr/latest/news.md
      - text: Reference
        href: packages/sparklyr/latest/reference/index.qmd
      - text: Packages
        href: packages/index.qmd
      - text: Learn more
        href: learn-more.qmd
    right:
      - icon: github
        href: https://github.com/sparklyr/sparklyr
        
  sidebar:
    - id: get-started
      title: Get Started
      collapse-level: 2
      style: "floating"
      align: left
      contents:
        - href: get-started/index.qmd
        - href: get-started/read-data.qmd       
        - href: get-started/prepare-data.qmd
        - href: get-started/model-data.qmd
      
    - id: guides
      title: Guides
      collapse-level: 3
      align: left
      contents:
        - text: Overview
          href: guides/index.qmd
        - section: Interacting with Spark
          contents:
          - text: Using `dplyr` 
            href: guides/dplyr.qmd
          - text: Managing Spark cache
            href: guides/caching.qmd   
          - text: Spark connection options
            href: guides/connections.qmd
          - text: Access S3 buckets
            href: guides/aws-s3.qmd   
        - section: Machine Learning
          contents:
          - text: Spark ML Overview
            href: guides/mlib.qmd
          - text: ML Pipelines
            href: guides/pipelines.qmd     
          - text: Text modeling
            href: guides/textmodeling.qmd
          - href: guides/model_tuning.qmd
          - href: guides/model_tuning_text.qmd            
          - text: H2O models
            href: guides/h2o.qmd
        - section: Tidymodels
          contents:
          - text: Using `tidymodels` (basics)
            href: guides/tidymodels.qmd            
          - href: guides/tune_tidymodels_spark.qmd            
        - section: Non-rectangular Data
          contents:
          - text: Streaming Data
            href: guides/streaming.qmd   
          - text: Text Data
            href: guides/textmining.qmd                      
        - section: Advanced
          contents:
          - text: Run R code inside Spark
            href: guides/distributed-r.qmd
          - text: Create `sparklyr` extensions
            href: guides/extensions.qmd
        - section: Troubleshooting
          href: guides/troubleshooting.qmd
   
    - id: deployment
      title: Deployment
      collapse-level: 2
      align: left
      contents:
      - text: Overview
        href: deployment/index.qmd
      - section: YARN (Hadoop)
        contents:
        - text: Understanding Data Lakes
          href: deployment/data-lakes.qmd        
        - text: EMR cluster
          href: deployment/yarn-cluster-emr.qmd
        - text: Cloudera cluster
          href: deployment/cloudera-aws.qmd
      - section: Databricks
        contents:
        - text: Getting Started
          href: deployment/databricks-connect.qmd
        - text: Run R code in Databricks
          href: deployment/databricks-connect-udfs.qmd
        - text: Deploying to Posit Connect
          href: deployment/databricks-posit-connect.qmd
      - section: Snowflake
        contents:
        - text: Getting Started
          href: deployment/snowflake.qmd          
      - section: Spark Connect 
        contents:
        - text: Getting Started
          href: deployment/spark-connect.qmd
      - section: Stand Alone Clusters        
        contents:
        - text: Qubole cluster
          href: deployment/qubole-overview.qmd     
        - text: Standalone cluster using AWS EC2
          href: deployment/stand-alone-aws.qmd  
    - id: news
      collapse-level: 2
      text: news
      contents:
        - text: Package News
          href: packages/sparklyr/latest/news.md
        - text: Site News
          href: site-news.qmd
          
    - id : reference
      collapse-level: 2
      text: Reference
      contents: 
      - text: Latest release
        href: packages/sparklyr/latest/reference/index.qmd
    
    - id: mleap 
      collapse-level: 3
      contents:
        - text: mleap
          href: packages/mleap/index.md
        - text: News
          href: packages/mleap/news.md
        - text: Reference
          href: packages/mleap/reference/index.qmd
            
    - id: sparkxgb 
      collapse-level: 3
      contents:
        - text: sparkxgb
          href: packages/sparkxgb/index.md
        - text: News
          href: packages/sparkxgb/news.md
        - text: Reference
          href: packages/sparkxgb/reference/index.qmd          

    - id: sparktf 
      collapse-level: 3
      contents:
        - text: sparktf
          href: packages/sparktf/index.md
        - text: News
          href: packages/sparktf/news.md
        - text: Reference
          href: packages/sparktf/reference/index.qmd    
      
    - id: graphframes 
      collapse-level: 3
      contents:
        - text: graphframes
          href: packages/graphframes/index.md
        - text: News
          href: packages/graphframes/news.md
        - text: Reference
          href: packages/graphframes/reference/index.qmd    

    - id: pysparklyr 
      collapse-level: 3
      contents:
        - text: pysparklyr
          href: packages/pysparklyr/index.md
        - text: News
          href: packages/pysparklyr/news.md
        - text: Reference
          href: packages/pysparklyr/reference/index.qmd

            
format:
  html:
    toc: true
    code-copy: true
    code-overflow: wrap
    code-toos: true
    css: site/styles.css
    eval: false
    theme:
      light: [cosmo, site/theme.scss]
      dark: [cosmo, site/theme-dark.scss]
    include-in-header: site/gtm-body.html
    include-before-body: site/gtm-head.html
knitr:
  opts_chunk: 
    collapse: true
    comment: "#>"
