

.footer {
  margin-top: 40px;
  text-align: center;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

#ide-screenshots {
  width: 60%;
  height: 325px;
}
