

.footer {
  margin-top: 40px;
  text-align: center;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

table a code {
  background-color: inherit;
}

#intro-p {
  padding-top: 14px;
}

.lead {
  font-size: 18px;
}
