{{ partial "head" . }}
<!-- layouts/index.html -->
<div class="single-page">
  {{ partial "nav" . }}
</div>

{{ template "_internal/google_analytics.html" . }}

<div class="page documentation">
    <div class="side-menu" id="side-menu">
      
    {{ $currentNode := .}}
    
  
    {{  range .Site.Menus.main.ByWeight  }}

        <a href="{{.URL}}" class="side-menu__item__link">
        
          <p class="side-menu__item__link__text">{{ .Name }}</p>
        </a>

        <ul class="side-menu__sub">
          {{ range .Children }}
            <li class="side-menu__sub__item {{ if eq .URL $currentNode.Permalink }} active {{ end }}">
              <a id="menu-link-{{.URL}}" class="side-menu__sub__item__text" href="{{.URL}}" data-url="{{.URL}}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
          

    {{ end }}

    
    </div>
    

    
     <div class="content">
      

      <main>
      
      <div class="markdowned">
      {{ .Content }}
      </div>
      
      </main>
        
      {{ partial "footer" .}}
      
    </div>
      
    </div>



</body>
</html>

