/*-- scss:defaults --*/

// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

$light: #525252;

// Navigation element colors
$footer-bg: #181818;
$navbar-bg: #303030;
$sidebar-bg: #303030;

// Code blocks
$code-block-bg-color: #222;
$code-color: #04D11F;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;

.mainbox {
  background: #303030;
}

.mainbox a {
  text-decoration: none;
}

.mainbox h2 {
  border-bottom-width: 0px;
  font-weight: lighter;
}

