#r-interface-to-keras h1, 
#r-interface-to-tensorflow-estimators h1 {
  display: none;
}


/* tensorflow.rstudio.com styles */

.illustration {
  border: solid 1px #cccccc;
}


td.illustration {
  padding: 12px;
  border-bottom: solid 1px #cccccc;
}

.markdowned tr:last-of-type td.illustration  {
   border-bottom: solid 1px #cccccc !important;
}



.tutorial-illustration {
  width: 60%;
  display: block;
  margin-left :auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border: solid 1px #cccccc;
}

.tutorial-illustration-medium {
  width: 80%;
}

.tutorial-illustration-large {
  width: 100%;
}

video {
  border: solid 1px #cccccc;
}

.search-bar {
  box-shadow: none !important;
}

.st-default-search-input {
  width: 80% !important;
}

.st-ui-type-heading, .st-ui-type-detail {
  font-size: 15px !important;
  font-family: 'Roboto', sans-serif !important;
}


