

<section class="article-list">
<h1><a href="{{ .URL }}">{{ .Title }}</a></h1>
<div class="markdowned">

<p class="post-date">
  
  {{ .Date.Format "2006-01-02" }}
  {{ with .Params.author }}{{ . }}{{ end }}
  <span class="categories">
  &mdash;
  {{ with .Params.categories }}
  {{ range . }}
  <a href="{{ relURL (print "/categories/" (urlize .)) }}">{{ . }}</a>
  {{ end }}
  {{ end }}
  </span>
</p>
</div>

<img src="{{ .Params.thumbnail }}" class = "thumbnail" width = "150px" align = left style = "padding:0 10px 10px 0"> 
<div class="summary markdowned">
    {{ if and (isset .Params "summary") (not (eq .Params.summary "")) }}
      <p>{{ .Params.summary }}</p>
    {{else}}
      <p>{{ .Summary }}</p>
    {{ end }}
    <a href="{{ .Permalink }}" title="{{ .Title }}"><small>Read More…</small></a>
</div>
</section>