.index {
  font-size: 1em;
  width: auto;
}

.index h3 {
  margin-top: 24px;
  border-bottom: 1px dotted #CCC;
}
.index .section-desc {
  font-size: 16px;
}

.index td {
  padding: 4px 12px 4px 0;
  vertical-align: top;
}
.index td:first-child {
  min-width: 300px;
}

@media (max-width: 991px) {
  .index td {
    width: 50%;
  }
  .index td:first-child {
    width: 0;
  }
}

.index .func {
  margin: 0;
}

.index .topic {
  margin: 0;
  font-size: inherit;
  line-height: 1.2;
}

.index .aliases {
  color: #999;
}

.index .desc {
  font-weight: 300;
  margin: 0;
  line-height: 1.2;
}

pre.code div {
  text-indent: -1.25em;
  padding-left: 1.25em;
  word-break: normal;
}

pre.code div {
  text-indent: -1.25em;
  padding-left: 1.25em;
  word-break: normal;
}

tbody[data-section="Extensions"] {
  display: none;
} 

