{{ partial "head" . }}

<div class="single-page">
  {{ partial "nav" . }}
</div>

<div class="page documentation">
    <div class="side-menu" id="side-menu">
    
    {{ partial "blog-sidebar" . }}
    
    </div>
    <div class="content">
      
      <div class = "blogpost-meta">
      <h1 class="content-header">{{ .Title }} {{ if .IsDraft }} (Draft){{ end }}</h1>
      <div class="markdowned">
      <p class="post-date">
        {{ .Date.Format "2006-01-02" }}
        {{ with .Params.author }}{{ . }}{{ end }}
        <span class="categories">
        &mdash;
        {{ with .Params.categories }}
        {{ range . }}
        <a href="{{ relURL (print "/categories/" (urlize .) ".html") }}">{{ . }}</a>
        {{ end }}
        {{ end }}
        </span>
      </p>
      </div>
      </div>
      
      
      <div class="markdowned">
        {{ .Content }}
      </div>
      
      {{ partial "footer" .}}
      
    </div>
</div>

</body>
</html>

